<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lukewaite.alfred-gitlab</string>
	<key>connections</key>
	<dict>
		<key>07D583FC-AFE3-47D1-8076-FF78BE066E4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D6A596A-AC0F-4636-BD4E-54393AF66480</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D6A596A-AC0F-4636-BD4E-54393AF66480</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CEA566D-1206-4BCD-B4B6-98744ED00ACB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26503076-7E71-48DF-BF35-88CBED38F543</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4D035A-9ECF-4080-A991-B5265DBBAD37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>351629D0-4BED-4019-8E7E-151E71545F00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3380F22-0E4A-4095-B226-C78C9E123EC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD49BD6-5445-4547-B438-E8B21E93DAE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6427010-7B56-4342-B5AC-85D22C5E5C50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6427010-7B56-4342-B5AC-85D22C5E5C50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A62E393E-7B4C-4097-90D8-01F20E5FF67D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C29BE46B-A223-4ADD-B933-2AC28716AC4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>478E5903-DF13-4546-8719-5E29A53D6016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3380F22-0E4A-4095-B226-C78C9E123EC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55543F5-EAD5-42A8-AD3E-518665F4AA34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55543F5-EAD5-42A8-AD3E-518665F4AA34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C29BE46B-A223-4ADD-B933-2AC28716AC4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA4D035A-9ECF-4080-A991-B5265DBBAD37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>478E5903-DF13-4546-8719-5E29A53D6016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC12EF8B-97E2-4DA6-989E-6E766336576D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26503076-7E71-48DF-BF35-88CBED38F543</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>351629D0-4BED-4019-8E7E-151E71545F00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luke Waite</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitLab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:repo}/{var:subfolder}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>478E5903-DF13-4546-8719-5E29A53D6016</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
					<key>subfolder</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CA4D035A-9ECF-4080-A991-B5265DBBAD37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:quick_open}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>26503076-7E71-48DF-BF35-88CBED38F543</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching GitLab projects...</string>
				<key>script</key>
				<string>python3 gitlab.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for GitLab projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC12EF8B-97E2-4DA6-989E-6E766336576D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Pipelines","arg":"pipelines"},{"title":"Overview"},{"title":"Issues","arg":"issues"},{"title":"Merge Request","arg":"merge_requests"},{"title":"Default Issue Board","arg":"-/boards"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Overview</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C55543F5-EAD5-42A8-AD3E-518665F4AA34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>subfolder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C29BE46B-A223-4ADD-B933-2AC28716AC4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:quick_open}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>351629D0-4BED-4019-8E7E-151E71545F00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C3380F22-0E4A-4095-B226-C78C9E123EC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your GitLab API key has been saved.</string>
				<key>title</key>
				<string>Saved API Key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CEA566D-1206-4BCD-B4B6-98744ED00ACB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glsetkey</string>
				<key>subtext</key>
				<string>Enter your GitLab Private Token and hit ENTER</string>
				<key>text</key>
				<string>Set your GitLab Private Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07D583FC-AFE3-47D1-8076-FF78BE066E4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D6A596A-AC0F-4636-BD4E-54393AF66480</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 gitlab.py --seturl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6427010-7B56-4342-B5AC-85D22C5E5C50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>glseturl</string>
				<key>subtext</key>
				<string>Enter your GitLab URL and hit ENTER</string>
				<key>text</key>
				<string>Set your GitLab URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DD49BD6-5445-4547-B438-E8B21E93DAE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your GitLab URL has been saved.</string>
				<key>title</key>
				<string>Saved API URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A62E393E-7B4C-4097-90D8-01F20E5FF67D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup and Usage

* Generate a GitLab personal access token (https://gitlab.com/profile/personal_access_tokens) then run `glsetkey &lt;yourkey&gt;`
* (Optionally) Tell it where the GitLab API you want to connect to is by running `glseturl https://&lt;host&gt;/api/v4/projects`
  * Defaults to GitLab.com's public API
* search for projects with `gl &lt;search&gt;`
* Optionally, disable sub-page navigation by setting `quick_open` to `true` in Workflow Configuration.</string>
	<key>uidata</key>
	<dict>
		<key>07D583FC-AFE3-47D1-8076-FF78BE066E4E</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>1D6A596A-AC0F-4636-BD4E-54393AF66480</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>26503076-7E71-48DF-BF35-88CBED38F543</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>351629D0-4BED-4019-8E7E-151E71545F00</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>478E5903-DF13-4546-8719-5E29A53D6016</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>7DD49BD6-5445-4547-B438-E8B21E93DAE5</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>8CEA566D-1206-4BCD-B4B6-98744ED00ACB</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>A62E393E-7B4C-4097-90D8-01F20E5FF67D</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>B6427010-7B56-4342-B5AC-85D22C5E5C50</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>C29BE46B-A223-4ADD-B933-2AC28716AC4C</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>C3380F22-0E4A-4095-B226-C78C9E123EC8</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>C55543F5-EAD5-42A8-AD3E-518665F4AA34</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>CA4D035A-9ECF-4080-A991-B5265DBBAD37</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>CC12EF8B-97E2-4DA6-989E-6E766336576D</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>quick_open</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>quick_open</string>
	</array>
	<key>version</key>
	<string>3.0.0</string>
	<key>webaddress</key>
	<string>https://lukewaite.ca</string>
</dict>
</plist>
